.h2, .medium, .smallcopy {
    color: var(--primary-color);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    font-family: "Gupter Medium", serif;
    color: var(--primary-color);
}
