:root{
    --primary-color: #212121;
    --secondary-color: #FFFFE3;
    --tertiary-color: #80D721;
    --light-color:#B46B3A;
    --dark-color:#534631;
}

@font-face {
    font-family: "Berkshire_Swash";
    src: url("font/BerkshireSwash-Regular.ttf");
}

@font-face {
    font-family: "Gupter";
    src: url("font/Gupter/Gupter-Regular.ttf");
}

@font-face {
    font-family: "Gupter Medium";
    src: url("font/Gupter/Gupter-Medium.ttf");
}

@font-face {
    font-family: "Gupter Bold";
    src: url("font/Gupter/Gupter-Bold.ttf");
}
.h1{
    font-family: Berkshire_Swash;
    font-size: clamp(2.5em, 4em, 4em);
    color: var(--secondary-color);
}

.h2{
    font-family: Berkshire_Swash;
    font-size: clamp(1.75em, 3.5em, 3.5em);
    color: var(--secondary-color);
}

.h3{
    font-family: Berkshire_Swash;
    font-size: clamp(1.375em, 3em, 3em);
    color: var(--secondary-color);
}



.bodycopy{
    font-family: Gupter;
    font-size: clamp(1em, 1.50em, 1.75em);
    color: var(--secondary-color);
}

.medium{
    font-family: Gupter;
    font-size: clamp(1.5em, 2em, 2em);
}

.smallcopy{
    font-family: Gupter;
    font-size: clamp(0.75em, 1.25em, 1.25em);
    color: var(--secondary-color);

}
#navbarNav {
    background-color: rgba(33, 33, 33, 0.8);
    width: 100%;
    height: 150px;
}

.nav-item a {
    color: var(--secondary-color);
}

.nav-link:hover{
    color: var(--light-color);
}

.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

.blur {
    content: "";
    position: fixed;
    left: 0;
    right:0;
    z-index: -1;

    display: block;
    background-image: url('immagini/Sfondo_Home_2.jpg');
    background-size:cover;
    background-position-y: -170px;
    width: 100%;
    height: 100%;
    margin: 0;


    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.el_mappa {
    background-attachment: local;
}

#bg_home{
    background: url(immagini/Sfondo_Home.jpg) no-repeat ;
    background-size: cover;
    color: var(--secondary-color);
    background-position-y: -20px;
    background-position-x: center;
    height: 100%;
}

#bg_home2{
    background: url(immagini/Sfondo_Home_2.jpg) no-repeat top local;
    background-size: cover;
    background-position-y: -200px;
    color: var(--secondary-color);
    height: 1000px;
}


.container_ogg {
    position: relative;
    width: 100%;
    height: 1100px;
    background: url('immagini/Sfondo_Home_2.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container_obj_animals {
    position: relative;
    width: 100%;
    height: 1100px;
    background: url('immagini/Sfondo_BotanicaeAnimali.jpeg') no-repeat;
    background-size: cover;
    overflow: hidden;
}



.trasparenza_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_armadio {
    width: 50%;
    height: 1100px;
    overflow: hidden;
    background: url('immagini/Oggettistica/Armadio.png') no-repeat center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container_grid{
    position: relative;
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 140px 140px 140px 140px 140px;
    margin-top: 120px;
    margin-left:50px;
    gap:0;

}

.img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.contenuto_img_label {
    width: 60%;
    height: 60%;
    cursor: pointer;
    margin-left:80px;
    margin-top:-60px;
    z-index: 10;
}



.img_sm {
    width: 80px;
   height: 120px;
    margin-left: 30px;
    cursor: pointer;
}

.img_md {
    width: 140px;
    height: 160px;
    margin-top:-20px;
    cursor: pointer;
}

.img_big {
    width: 140px;
    height: 120px;
    cursor: pointer;
}


.label_armadio:hover{
    transform: scale(3.0) rotate(-25deg);
    transition: transform 0.5s ease;

}

.Text_label {
    opacity: 0;
    position: absolute;
    color: var(--primary-color);
    margin-left:140px;
    margin-top:-90px;
    text-align: left;
    transform: rotate(13deg);
    transition: transform 0.5s ease-in;
}

.label_armadio:hover +.Text_label {
    display: block;
    opacity: 1;
}

.img:hover {
    transform: scale(1.25);
}

.img_sm:hover {
    transform: scale(1.25);
}

.img_md:hover{
    transform: scale(1.25);
}

.img_big:hover {
    transform: scale(1.25);
}

#bg_home_BeA{
    background: url(immagini/Sfondo_BotanicaeAnimali.jpeg) no-repeat top local;
    background-size: cover;
    background-position-y: -70px;
    color: var(--secondary-color);
    height: 800px;
}

#bg_home_vestiti{
    background: url(immagini/Sfondo_Home_Vestiti.jpeg) no-repeat top local;
    background-size: cover;
    background-position-y: -90px;
    color: var(--secondary-color);
    height: 800px;
}

nav{
    top: 50%;
    left: 0;
    z-index: 11;
    background-color: var(--dark-color-opacity-70);
    padding-right: 100px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: 0.5s;
}


.menu {
    right: -44px;
    top: calc(50% - 44px);
    transition: 0.5s;
}

ul {
    list-style: none;
    padding-left: 0;
}

li::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    bottom: 0;
}

li {
    position: relative;
}

.nav-link {
    padding: 10px;
    color: var(--secondary-color);
}

li::after {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: var(--secondary-color);
    content: "";
    bottom: -1.5px;
    rotate: 45deg;
    right: -1.5px;
}

.menu.open svg rect {
    fill: var(--secondary-color);
}

.menu svg rect {
    transition: 0.2s;
    fill: var(--tertiary-color);
}

.blur.visible {
    opacity: 1;
}



/*.btn-rombo{
    width: 50px;
    height: 50px;
    transform:rotate(45deg) ;
    background-color: var(--tertiary-color);

}/*

