:root{
    --primary-color: #212121;
    --secondary-color: #FFFFE3;
    --tertiary-color: #80D721;
    --light-color:#B46B3A;
    --dark-color:#534631;
}

@font-face {
    font-family: "Berkshire_Swash";
    src: url("font/BerkshireSwash-Regular.ttf");
}

@font-face {
    font-family: "Gupter";
    src: url("font/Gupter/Gupter-Regular.ttf");
}

@font-face {
    font-family: "Gupter Medium";
    src: url("font/Gupter/Gupter-Medium.ttf");
}

@font-face {
    font-family: "Gupter Bold";
    src: url("font/Gupter/Gupter-Bold.ttf");
}
.h1{
    font-family: Berkshire_Swash;
    font-size: clamp(2.5em, 4em, 4em);
    color: var(--secondary-color);
}

.h2{
    font-family: Berkshire_Swash;
    font-size: clamp(1.75em, 3.5em, 3.5em);
    color: var(--secondary-color);
}

.h3{
    font-family: Berkshire_Swash;
    font-size: clamp(1.375em, 3em, 3em);
    color: var(--secondary-color);
}

.bodycopy{
    font-family: Gupter;
    font-size: clamp(1em, 1.50em, 1.75em);
    color: var(--secondary-color);
}

.medium{
    font-family: Gupter;
    font-size: clamp(1.5em, 2em, 2em);
}

.smallcopy{
    font-family: Gupter;
    font-size: clamp(0.75em, 1.25em, 1.25em);
    color: var(--secondary-color);

}
#navbarNav {
    background-color: rgba(33, 33, 33, 0.8);
    width: 100%;
    height: 150px;
}

.nav-item a {
    color: var(--secondary-color);
}

.nav-link:hover{
    color: var(--light-color);
}

.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

.blur {
    content: "";
    position: fixed;
    left: 0;
    right:0;
    z-index: -1;

    display: block;
    background-image: url('immagini/Sfondo_Home_2.jpg');
    background-size:cover;
    background-position-y: -170px;
    width: 100%;
    height: 100%;
    margin: 0;


    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.el_mappa {
    background-attachment: local;
}

#bg_home{
    background: url(immagini/Sfondo_Home.jpg) no-repeat ;
    background-size: cover;
    color: var(--secondary-color);
    background-position-y: -20px;
    background-position-x: center;
    height: 100%;
}

#bg_home2{
    background: url(immagini/Sfondo_Home_2.jpg) no-repeat top local;
    background-size: cover;
    background-position-y: -200px;
    color: var(--secondary-color);
    height: 1000px;
}


.container_ogg {
    position: relative;
    width: 100%;
    height: 1100px;
    background: url('immagini/Sfondo_Home_2.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.trasparenza_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_armadio {
    width: 50%;
    height: 1100px;
    overflow: hidden;
    background: url('immagini/Oggettistica/Armadio.png') no-repeat center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container_grid{
    position: relative;
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 140px 140px 140px 140px 140px;
    margin-top: 120px;
    margin-left:50px;
    gap:0;

}

.contenuto_img {
    width: 80%;
    height: 80%;
    cursor: pointer;
}

.contenuto_img_label {
    width: 60%;
    height: 60%;
    cursor: pointer;
    margin-left:80px;
    margin-top:-60px;
}


.contenuto_img_sm {
    width: 60%;
   height: 80%;
    cursor: pointer;
}

.label_armadio:hover{
    transform: scale(3.0) rotate(-25deg);
    transition: transform 0.5s ease;

}

.Text_label {
    display: none;
    position: absolute;
    color: var(--primary-color);
    font-size: 15px;
    margin-left:140px;
    margin-top:-80px;
    font-family: Gupter;
    font-weight: bold;
    text-align: center;
}

.label_armadio:hover + .Text_label {
    display: block;
}






#bg_home_BeA{
    background: url(immagini/Sfondo_BotanicaeAnimali.jpeg) no-repeat top local;
    background-size: cover;
    background-position-y: -70px;
    color: var(--secondary-color);
    height: 800px;
}

#bg_home_vestiti{
    background: url(immagini/Sfondo_Home_Vestiti.jpeg) no-repeat top local;
    background-size: cover;
    background-position-y: -90px;
    color: var(--secondary-color);
    height: 800px;
}



/*.btn-rombo{
    width: 50px;
    height: 50px;
    transform:rotate(45deg) ;
    background-color: var(--tertiary-color);

}/*

